@import './variables.scss';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  font-family: sans-serif;
  color: $text-primary;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./assets/universe.jpg");
  background-repeat:repeat;
  background-size:contain;
}

.hero-text {
  position: absolute;
  top: calc(5px + 2vw);
  font-size: calc(14px + 2vw);
  color: $primary-color;
  font-family: 'Star Jedi';
  font-weight:400;
  -webkit-text-stroke: 2px $text-primary;
  @media screen and (max-width: 600px) {
    -webkit-text-stroke: 1px $text-primary;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

.result-text {
  color: $text-primary;
  font-weight:lighter;
  font-style: italic;
  font-size: 22px;
}

.shareText {
  font-size: 14px;
}

/* Quiz Component */
.answerOptions {
  margin: 0 4.5rem;
  padding: 0;
  list-style: none;
  @media screen and (max-width: 600px) {
    margin: 0 1.5rem;
  }
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 4.5rem 0;
  font-size: 14px;
  text-align: left;
  @media screen and (max-width: 600px) {
    padding: 1.5rem 1.5rem 0;
    font-size: 12px;
  }
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  @media screen and (max-width: 600px) {
    padding: 0.5rem 0.5rem 1.5rem;
    font-size: 16px;
  }
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
  &:hover {
    background-color: #eefbfe;
  }
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
  color:$text-primary;

  &:hover {
    -webkit-box-shadow:inset 0px 0px 0px 1px $accent;
    -moz-box-shadow:inset 0px 0px 0px 1px $accent;
    box-shadow:inset 0px 0px 0px 1px $accent;
    background-color: rgba(27, 31, 38, 0.4);
    color:$accent;
  }
  &:active {
    .radioCustomLabel:active {
      background-color: $primary-active;
      color:$accent;
    }
  }
  @media screen and (max-width: 600px) {
      padding: 1rem 2.5rem 1rem 2.5rem;
        line-height: 1.2;
    font-size: 14px;
  }

}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 48px;
  width: 28px;
  height: 28px;
  content: '';
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 0px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: $accent;
  border-color: #8bc53f;
}

.footer {
  font-family: monospace;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $accent;
  a {
    color: inherit;
  }
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
